---
const year = new Date().getFullYear();
---

<div class="p-4 text-center">
  <p class="text-xs text-white">
    &copy; Copyright {year}. Coded By <span class="font-secondary font-bold"
      >Rudhi Mediastara</span
    >
  </p>
</div>
