---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="fluid-container mt-[160px] flex flex-col gap-8"
  data-motion-projects
>
  <h2 class="subheading text-center">
    {title}
  </h2>
  <div class="mx-4 grid gap-x-4 gap-y-4 lg:grid-cols-2">
    <slot />
  </div>
</section>
