<div
  class="root grid grid-cols-[30%_1fr] grid-rows-[repeat(4,auto)] gap-x-4 rounded-md border border-neutral-300 p-4 shadow-xl shadow-pink-800/5"
  data-motion-project
>
  <div class="col-[1/2] row-[1/-1] grid place-items-center">
    <img
      src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80"
      alt="computer"
      class="w-[160px] object-contain"
    />
  </div>
  <p
    class="mb-auto font-secondary text-lg font-semibold capitalize text-neutral-800"
  >
    project title
  </p>
  <div>project url</div>
  <div>project repo</div>
  <div>project desc</div>
</div>

<style>
  .root {
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      #f2dbe687 0%,
      rgba(247, 247, 247, 0.46) 100%
    );
    backdrop-filter: blur(6px);
  }
</style>
